@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --ui-font: monospace;
    --ui-error: rgba(250, 83, 67, 1);
    --ui-accent: rgb(114, 104, 255);
    --ui-blur: 5px;

    --panel-background: rgba(0, 0, 0, 0.5);
    --panel-text-color: rgba(255, 255, 255, 1);
    --panel-rounding: 5px;

    --element-background: rgba(0, 0, 0, 0.25);
    --button-border: none;
    --button-hover-border: 1px solid rgba(255, 255, 255, 255);
    --button-transition: all 0.2s ease-in-out;
}

.PanelButton {
    background: var(--element-background);
    border: var(--button-border);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--button-transition);
}

.PanelButton:hover {
    border: var(--button-hover-border);
}

.CloseButton:hover {
    border: 1px solid var(--ui-error);
}

.PanelButtonIcon {
    filter: invert();
    width: inherit;
    height: inherit;
}

#panelIconBar {
    backdrop-filter: blur(var(--ui-blur));
    background: var(--panel-background);
    width: auto;
}

#ui {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Panel {
    backdrop-filter: blur(var(--ui-blur));
    background: var(--panel-background);
    border-radius: var(--panel-rounding);
    display: flex;
}

.PanelTitleBar {
    display: flex;
    align-items: center;
    width: inherit;
    height: 20px;
    border-radius: var(--panel-rounding) var(--panel-rounding) 0 0;
    background: var(--element-background);
}

.PanelTitleBar .CloseButton { 
    background: none;
    border-radius: var(--panel-rounding) 0 0 0
}

.PanelTitle {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    color: var(--panel-text-color);
    font-family: var(--ui-font);
}

.nohighlight-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.RegistryEntry {
    position: inherit
}

.RegisteredValueLabel {

}