:root {
    --panel-background: rgba(0, 0, 0, 0.5);

    --element-background: rgba(0, 0, 0, 0.25);
    --button-border: none;
    --button-hover-border: 1px solid rgba(255, 255, 255, 255);
    --button-transition: all 0.1s ease-in-out;
}

.PanelButton {
    background: var(--element-background);
    border: var(--button-border);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--button-transition);
}

.PanelButton:hover {
    border: var(--button-hover-border);
}

.PanelButtonIcon {
    filter: invert();
    width: inherit;
    height: inherit;
}

#panelIconBar {
    background: var(--panel-background);
    width: auto;
}

#ui {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}