@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    --font: "IBM Plex Mono", monospace;
    --title-font: "Doto", monospace;
    --background-blur: 5px;
    --border-color: rgba(255, 255, 255, 0.25);
    --accent-color: rgba(252, 186, 3, 1);
    --no-color: rgb(255, 41, 41);

    --panel-font-size: 9px;
    --panel-background: rgba(0, 0, 0, 0.5);
    --panel-rounding: 5px;
    --panel-border: 1px solid var(--border-color);
    --panel-close-outline: 0 0 0 3px var(--no-color);
    --panel-lock-outline: 0 0 0 3px var(--accent-color);
}

#UIRoot {
    position: absolute;
}

.Panel {
    position: absolute;
    background: var(--panel-background);
    backdrop-filter: blur(--ui-blur);
    border-radius: var(--panel-rounding);
    border: var(--panel-border);
    transition: box-shadow 0.1s ease-in-out, opacity 0.1s ease-in-out, border 0.1s ease-in-out;
    padding: none;
    margin: 0;
    opacity: 100%;
}

.Panel .TitleBar {
    border-top-left-radius: var(--panel-rounding);
    border-top-right-radius: var(--panel-rounding);
    border-bottom: var(--panel-border);
    transition: border 0.1s ease-in-out;;
    padding: none;
    margin: 0;
    cursor: move;
}

button {
    border: none;
    background: transparent;
    padding: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.TitleBar {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    padding: none;
    margin: 0;
}

.TitleBarActionGroup {
    min-width: 20px;
    min-height: 20px;
}

.TitleBarTitle {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 12px;
    padding: none;
    margin: 0;
}

.NonSelectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.RegistryEntryDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: none;
}

.RegistryEntryLabel {
    font-family: var(--font);
    color: white;
    font-weight: 400;
    font-size: var(--panel-font-size);
    margin-left: 10px;
}

.NumberInput {
    font-family: var(--font);
    color: white;
    font-weight: 400;
    font-size: var(--panel-font-size);
    background: var(--panel-background);
    border: none;
    padding: 5px;
    margin-right: 10px;
    width: 50px;
}

.StringInput {
    font-family: var(--font);
    color: white;
    font-weight: 400;
    font-size: var(--panel-font-size);
    background: var(--panel-background);
    border: none;
    padding: 5px;
    margin-right: 10px;
    width: 50px;
}

.BooleanInput {
    accent-color: var(--accent-color);
    margin-right: 10px;
}

.ColorInput {
    background: var(--panel-background);
    width: 30px;
    aspect-ratio: 1;
    padding: none;
    margin-right: 10px;
}

.DropdownInput {
    font-family: var(--font);
    color: white;
    font-weight: 400;
    font-size: var(--panel-font-size);
    background: var(--panel-background);
    border: none;
    padding: 5px;
    margin-right: 10px;
    width: 50px;
}